<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GrandPy Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <header>
            <h1>Bienvenue sur Grandpy Bot</h1>
            <p>Le bot qui vous raconte l'histoire des endroits où vous allez.</p>
    </header>
    <div>
        <p>Je suis Grandpy, pose moi une question !</p>
    </div>
    <form action="">
        <input type="text" id="question" value="Pose ta question ici...">
        <input type="submit" value="Alors ?">
    </form>
    <footer>
        <div>
            <span>Cédric Migazzi</span>
            <span>GitHub link</span>
        </div>
    </footer>    
</body>
</html>