/* General */

body {
  display: flexbox;
  flex-direction: column;
  font-family: 'Muli', sans-serif;
}

.wrapper {
  flex: 1 0 auto;
}

/* Header */
header {
  display: flex;
  background-color: #A3EC44;
}

#logo {
  width: 20%;
  font-size: 50px;
  padding: 5px;
}

#welcome {
  width: 80%;
  text-align: center;
}

#welcome > h1 {
  margin-top: 5px;
  margin-bottom: 0;
}

#welcome > p {
  margin-bottom: 5px;
}

/* Main, messages and form */
#main {
  flex: 1 0 auto;
  display: block;
  box-sizing: border-box;
  padding: 10px;

}

#messages {
  display: block;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  min-height: 72vh;
}

.grandpy, .user, .wiki {
  box-sizing: border-box;
  display: block;
  max-width: 35%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;  
}

.grandpy, .wiki {  
  background-color: #C7EF93;  
}

.user {
  background-color: #FFAD9C; 
  color: white;
  margin-left: 10%;
}

#question {
  margin-right: 5px;
}

#question:focus {
  border-color: #FF694A;
  box-shadow: 0 0 2px #FFAD9C;
}

.btn-primary {
  background-color: #FF694A;
  border: none;
}

.btn-primary:hover {
  background-color: #A3EC44;
  border: none;
}

/* Map */
.map {
    margin-left: 10%;
    margin-bottom: 5px;
    height: 250px;
    width: 250px;
  }

/* Loader */
.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #89F200;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    margin-left: 10%;
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Footer */
footer {
  flex-shrink: 0;
  background-color: #E4EBDA;
  color: #AFA5B2;
  height: 25px;
  line-height: 25 px;
  text-align: center;
}

i {
  color:#AFA5B2;
}

i:hover {
  color: #FF694A;
}


/* Media queries */

/* Medium */
@media screen and (min-width: 768px) and (max-width: 992) {
  #logo {
    font-size: 40px;
  }
}


/* Small */
@media (min-width: 500px) and (max-width: 767px) {
  #logo {
    text-align: center;
    font-size: 30px;
  }

  h1 {
    font-size: 2rem;
  }

  #subtitle {
    font-size: 0.7rem;
  }

  #messages {
    min-height: 75vh;
  }

  .grandpy, .user, .wiki, .map {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  #logo {
    text-align: center;
    font-size: 20px;
  }

  #messages {
    min-height: 78vh;
  }

  .grandpy, .user, .wiki, .map {
    max-width: 100%;
  }  

  h1 {
    font-size: 1.5rem;
  }

  #subtitle {
    font-size: 0.5rem;
  }
}
